@import "tailwindcss";

@font-face {
  font-family: "Audiowide";
  src: url("@/asset/font/Audiowide-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SairaStencilOne";
  src: url("@/asset/font/SairaStencilOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

header {
  font-family: "Audiowide", sans-serif;
}

body {
    font-family: "SairaStencilOne", sans-serif;
}
